
.roles{
    background-color: white;
    color: black;
    padding: 2rem 3rem;
}

.roles h1{
    font-weight: 700;
    text-align: center;
}

.what-to-do{
    display: flex;
    flex: 0 0 auto;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card-six{
    margin: 0;
    padding: 0;
    background-image: url(./images/card6.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 1.5rem;
    max-width: 20%;
    color: black;
}
.card-seven{
    margin: 0;
    padding: 0;
    background-image: url(./images/card7.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 1.5rem;
    max-width: 20%;
    color: black;
}
.card-eight{
    margin: 0;
    padding: 0;
    background-image: url(./images/card8.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 1.5rem;
    max-width: 20%;
    color: black;
}
.card-nine{
    margin: 0;
    padding: 0;
    background-image: url(./images/card9.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 1.5rem;
    width: max-content;
    color: black; 
}